/*------------------------------------------
  Responsive Grid Media Queries - 1201+ 1200, 900, 767, 518
    1201+      - XL
    1200-991   - desktop (default grid)
    900-768    - tablet landscape
    767-519    - tablet 
    518-less    - phone landscape & smaller
--------------------------------------------*/


@media  (min-width: 1201px) {
    html, body {
        width: 100%;
        height: 100%;
        font-family: "Source Sans Pro", sans-serif;
        background: #E0E0E0;
        font-size: 16px;
    }
    header img.displayed {
        width: 320px;
        height: auto;
        margin-left: 40px;
        border-radius: 0% !important;
        margin-bottom: 10px;
    }
    img {
        border-radius: 5%;
        width: 280px;
        height: 280px;
    }
    nav a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 16px;
    }
    .site-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        color: white;
    }
    .site-nav {
        text-align: right;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .site-nav > ul {
        color: #FDBB30;
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .site-nav .active a {
        color: #FDBB30;
    }
    .site-nav a {
        color: #FDBB30;
        text-decoration: overline ;
        text-decoration-color: yellow;
        text-transform: uppercase;
        padding: 30px;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
    }
  .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
        width: 1270px;
  }
    .grid {
        display: block;
        margin-top: 140px;
        margin-left: auto;
        margin-right: auto;
    }
    .logo {
        float: left;
    }
    .pull-right {
        float: right;
    }
    .title {
        color: #333;
        text-align: center;
    }
    .content .content-overlay {
        border-radius: 5%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        border: 1px solid black;
    }
    .content:hover .content-overlay {
        opacity: .8;
        border-radius: 5%;
    }
    .content-image {
        width: 280px;
        height: 280px;
        border-radius: 5%;
    }
    .opacity {
      opacity: .8;
    }
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 0em;
        padding-right: 0em;
        width: 280px;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details h3 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 2em;
    }
    .content {
        border-radius: 5%;
        height: auto;
        width: 280px;
        position: relative;
        margin: 10px 20px 20px 10px;
        overflow: hidden;
        float: left;
    }
    .overlay {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 'ChunkFiveRegular';
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 2em;
    }
    .overlay1 {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 36px 'ChunkFiveRegular';
        position: absolute;
        top: 115px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 2em;
    }
    .fadeIn-bottom {
        top: 80%;
    }

    .footer-distributed {
        background-color: #FDBB30;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        font: bold 16px sans-serif;
        font-family: "arial", sans-serif !important;
        text-align: left;
        padding: 13px 15px 10px;
        margin-top: 0px;
        overflow: hidden;
    }
    .footer-distributed .footer-left {
        float: left;
    }
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 30px 'Cookie', cursive;
        margin: 0 0 10px;
    }
    .footer-distributed h3 span {
        color: #00543C;
    }
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
    }
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    .footer-distributed .footer-icons {
        margin-top: 30px;
        border-radius: 5%;
    }
    .footer-distributed .footer-right {
        float: right;
    }
    .footer-distributed .footer-right p {
        display: inline-block;
        vertical-align: top;
        margin: 15px 42px 0 0;
        color: #ffffff;
    }
    /* The contact form */

    .footer-distributed form {
        display: inline-block;
    }
    .footer-distributed form input,
    .footer-distributed form textarea {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #1f2022;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        font: inherit;
        font-size: 14px;
        font-weight: normal;
        color: #d1d2d2;
        width: 250px;
        padding: 10px;
    }
    .footer-distributed::-webkit-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed::-moz-placeholder {
        color: #5c666b;
        opacity: 1
    }
    .footer-distributed:-ms-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed form input {
        height: 20px;
        margin-bottom: 10px;
    }
    .footer-distributed form textarea {
        height: 50px;
        margin-bottom: 10px;
    }
    .footer-distributed form button {
        border-radius: 3px;
        background-color: #33383b;
        color: #ffffff;
        border: 0;
        padding: 4px 5px;
        font-weight: bold;
        float: left;
    }
/* If you don't want the footer to be responsive, remove these media queries */
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-company-name {
        font-size: 12px;
    }
    .footer-distributed form input,
    .footer-distributed form textarea {
        width: 250px;
    }
    .footer-distributed form button {
        padding: 10px 35px;
    }
 }


@media all and (min-width: 991px) and (max-width: 1200px) {
    html, body {
        width: 100%;
        height: 100%;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 10px;
        background: #E0E0E0;
    }
    header img.displayed {
        width: 280px;
        height: auto;
        margin-left: 25px;
        margin-bottom: 10px;
        border-radius: 0% !important;
        margin-bottom: 5px;
    }
    img {
        border-radius: 5%;
        width: 200px;
        height: 200px;
    }
    nav a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 12px;
    }
    .site-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        color: white;
    }
     .site-nav {
        text-align: right;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .site-nav > ul {
        color: #FDBB30;
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .site-nav .active a {
        color: #FDBB30;
    }
    .site-nav a {
        color: #FDBB30;
        text-decoration: overline;
        text-decoration-color: yellow;
        text-transform: uppercase;
        padding: 20px;
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
    }
    .container {
        width: 950px;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .grid {
        margin-top: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo {
        float: left;
    }
    .pull-right {
        float: right;
    }
    .title {
        color: #333;
        text-align: center;
    }
    .content .content-overlay {
        border-radius: 5%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        border: 1px solid black;
    }
    .content:hover .content-overlay {
        opacity: .8;
        border-radius: 5%;
    }
    .content-image {
        width: 200px;
        height: 200px;
        border-radius: 5%;
    }
    .opacity {
      opacity: .8;
    }
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 0em;
        padding-right: 0em;
        width: 200px;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details h3 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 2em;
    }
    .content {
        border-radius: 5%;
        height: auto;
        width: 200px;
        position: relative;
        margin: 10px 20px 20px 10px;
        overflow: hidden;
        float: left;
    }
    .overlay {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 24px 'ChunkFiveRegular';
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 2.5em;
    }
    .overlay1 {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 24px 'ChunkFiveRegular';
        position: absolute;
        top: 82px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 2.5em;
    }
    .fadeIn-bottom {
        top: 80%;
    } 
    .footer-distributed {
        background-color: #FDBB30;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        font: bold 16px sans-serif;
        font-family: "arial", sans-serif !important;
        text-align: left;
        padding: 13px 15px 10px;
        margin-top: 0px;
        overflow: hidden;
    }
/* Footer left */
    .footer-distributed .footer-left {
        float: left;
        margin-left: 10px;
    }
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 30px 'Cookie', cursive;
        margin: 0 0 10px;
    }
    .footer-distributed h3 span {
        color: #00543C;
    }
    /* Footer links */
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
    }
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    /* Footer social icons */
    .footer-distributed .footer-icons {
        margin-top: 30px;
        border-radius: 5%;
    }
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    } 
/* Footer Right */
    .footer-distributed .footer-right {
        float: right;
    }
    .footer-distributed .footer-right p {
        display: inline-block;
        vertical-align: top;
        margin: 20px 42px 0 10px;
        color: #ffffff;
    }
/* The contact form */
    .footer-distributed form {
        display: inline-block;
        margin: 20px;
    }
    .footer-distributed form input,
    .footer-distributed form textarea {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #1f2022;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        font: inherit;
        font-size: 14px;
        font-weight: normal;
        color: #d1d2d2;
        width: 250px;
        padding: 10px;
    }
    .footer-distributed::-webkit-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed::-moz-placeholder {
        color: #5c666b;
        opacity: 1
    }
    .footer-distributed:-ms-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed form input {
        height: 20px;
        margin-bottom: 10px;
    }
    .footer-distributed form textarea {
        height: 50px;
        margin-bottom: 10px;
    }
    .footer-distributed form button {
        border-radius: 3px;
        background-color: #33383b;
        color: #ffffff;
        border: 0;
        padding: 4px 5px;
        font-weight: bold;
        float: left;
    }
}
 








@media all and (min-width: 768px) and (max-width: 990px) {
    html, body {
        width: 100%;
        height: 100%;
        font-family: "Source Sans Pro", sans-serif;
        background: #E0E0E0;
        font-size: 10px;
    }
    header img.displayed {
        width: 230px;
        height: auto;
        border-radius: 0% !important;
        margin-bottom: 15px;
    }
    img {
        border-radius: 5%;
        width: 160px;
        height: 160px;
    }
    nav a {
        padding-top: 5px !important;
        padding-bottom: 1px !important;
        font-size: 1.0em;
    }
    .logo {
        float: left;
    }
    .site-header {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .site-header .site-nav {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .site-header .site-nav a {
        font-size: 1.6rem;
        text-align: center;
    }
    .site-nav {
        text-align: right;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .site-nav > ul {
        color: #FDBB30;
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .site-nav .active a {
        color: #FDBB30;
    }
    .site-nav a {
        color: #FDBB30;
        text-decoration: overline;
        text-decoration-color: #FDBB30;
        text-transform: uppercase;
        padding: 10px;
        display: inline-block;
        font-size: 1.75rem;
        font-weight: bold;
    }
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
        width: 740px;
    }
    .grid {
        margin-top: 105px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo {
        float: left;
    }
    .pull-right {
        float: right;
    }
    .title {
        color: #333;
        text-align: center;
    }
    .content .content-overlay {
        border-radius: 5%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        border: 1px solid black;
    }
    .content:hover .content-overlay {
        opacity: .8;
        border-radius: 5%;
    }
    .content-image {
        width: 160px;
        height: 160px;
        border-radius: 5%;
    }
    .opacity {
      opacity: .8;
    }
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 0em;
        padding-right: 0em;
        width: 160px;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details h3 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1em;
    }
    .content {
        border-radius: 5%;
        height: auto;
        width: 160px;
        position: relative;
        margin: 10px 8px 10px 8px;
        overflow: hidden;
        float: left;
    }
    .overlay {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 24px 'ChunkFiveRegular';
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1.9em;
    }
    .overlay1 {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 24px 'ChunkFiveRegular';
        position: absolute;
        top: 67px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1.9em;
    }
    .fadeIn-bottom {
        top: 80%;
    }
    .footer-distributed {
        background-color: #FDBB30;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        font: bold 16px sans-serif;
        font-family: "arial", sans-serif !important;
        text-align: left;
        padding: 13px 15px 10px;
        margin-top: 0px;
        overflow: hidden;
    }
/* Footer left */
    .footer-distributed {
        background-color: #FDBB30;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        font: bold 16px sans-serif;
        font-family: "arial", sans-serif !important;
        text-align: left;
        padding: 20px 15px 20px 20px;
        margin-top: 0px;
        overflow: hidden;
    }
    .footer-distributed .footer-left {
        float: left;
        margin-left: 10px;
    }
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 30px 'Cookie', cursive;
        margin: 0 0 10px;
    }
    .footer-distributed h3 span {
        color: #00543C;
    }
    /* Footer links */
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
    }
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    /* Footer social icons */
    .footer-distributed .footer-icons {
        margin-top: 30px;
        border-radius: 5%;
    }
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    } 
/* Footer Right */
    .footer-distributed .footer-right {
        float: right;
    }
    .footer-distributed .footer-right p {
        display: inline-block;
        vertical-align: top;
        margin: 20px 42px 0 10px;
        color: #ffffff;
    }
/* The contact form */
    .footer-distributed form {
        display: inline-block;
        margin: 20px;
    }
    .footer-distributed form input,
    .footer-distributed form textarea {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #1f2022;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        font: inherit;
        font-size: 14px;
        font-weight: normal;
        color: #d1d2d2;
        width: 250px;
        padding: 10px;
    }
    .footer-distributed::-webkit-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed::-moz-placeholder {
        color: #5c666b;
        opacity: 1
    }
    .footer-distributed:-ms-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed form input {
        height: 20px;
        margin-bottom: 10px;
    }
    .footer-distributed form textarea {
        height: 50px;
        margin-bottom: 10px;
    }
    .footer-distributed form button {
        border-radius: 3px;
        background-color: #33383b;
        color: #ffffff;
        border: 0;
        padding: 4px 5px;
        font-weight: bold;
        float: left;
    }
 } 










@media all and (min-width: 519px) and (max-width: 767px) {
    html, body {
        width: 100%;
        height: 100%;
        font-family: "Source Sans Pro", sans-serif;
        background: #E0E0E0;
    }
    header img.displayed {
        width: 220px;
        height: auto;
        border-radius: 0% !important; 
        margin-left: 10px;  
    }
    img {
        border-radius: 5%;
        width: 200px;
        height: 200px;
    }
    nav a {
        padding-top: 10px !important;
        padding-bottom: 1px !important;
        font-size: 1.5em;
    }
    .logo {
        float: left;
    }
    .site-header {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .site-header .site-nav {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .site-header .site-nav a {
        font-size: 1.0rem;
        text-align: center;
    }
     .site-nav {
        text-align: right;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .site-nav > ul {
        color: #FDBB30;
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .site-nav .active a {
        color: #FDBB30;
    }
    .site-nav a {
        color: #FDBB30;
        text-decoration: overline ;
        text-decoration-color: #FDBB30;
        text-transform: uppercase;
        padding-left: 10px;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .navbar-form{
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
        width: 470px;
    }
    .grid {
        margin-top: 165px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .pull-right {
        float: right;
    }
    .title {
        color: #333;
        text-align: center;
    }
    .content .content-overlay {
        border-radius: 5%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        border: 1px solid black;
    }
    .content:hover .content-overlay {
        opacity: .8;
        border-radius: 5%;
    }
    .content-image {
        width: 200px;
        height: 200px;
        border-radius: 5%;
    }
    .opacity {
      opacity: .8;
    }
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 0em;
        padding-right: 0em;
        width: 200px;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details h3 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1em;
    }
    .content {
        border-radius: 5%;
        height: auto;
        width: 200px;
        position: relative;
        margin: 10px 10px 10px 10px;
        overflow: hidden;
        float: left;
    }
    .overlay {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 24px 'ChunkFiveRegular';
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    .overlay1 {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 24px 'ChunkFiveRegular';
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    .fadeIn-bottom {
        top: 80%;
    }  
/* Footer left */
    .footer-distributed {
        background-color: #FDBB30;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        font: bold 16px sans-serif;
        font-family: "arial", sans-serif !important;
        text-align: left;
        padding: 20px 15px 20px 20px;
        margin-top: 0px;
        overflow: hidden;
    }
    .footer-distributed .footer-left {
        float: left;
        margin-left: 10px;
    }
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 30px 'Cookie', cursive;
        margin: 0 0 10px;
    }
    .footer-distributed h3 span {
        color: #00543C;
    }
    /* Footer links */
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
    }
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    /* Footer social icons */
    .footer-distributed .footer-icons {
        margin-top: 30px;
        border-radius: 5%;
    }
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    } 
/* Footer Right */
    .footer-distributed .footer-right {
        float: left;
    }
    .footer-distributed .footer-right p {
        display: inline-block;
        vertical-align: top;
        margin: 20px 42px 0 10px;
        color: #ffffff;
    }
/* The contact form */
    .footer-distributed form {
        display: inline-block;
        margin: 20px;
    }
    .footer-distributed form input,
    .footer-distributed form textarea {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #1f2022;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        font: inherit;
        font-size: 14px;
        font-weight: normal;
        color: #d1d2d2;
        width: 250px;
        padding: 10px;
    }
    .footer-distributed::-webkit-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed::-moz-placeholder {
        color: #5c666b;
        opacity: 1
    }
    .footer-distributed:-ms-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed form input {
        height: 20px;
        margin-bottom: 10px;
    }
    .footer-distributed form textarea {
        height: 50px;
        margin-bottom: 10px;
    }
    .footer-distributed form button {
        border-radius: 3px;
        background-color: #33383b;
        color: #ffffff;
        border: 0;
        padding: 4px 5px;
        font-weight: bold;
        float: left;
    }
 }
 












@media all and (max-width: 518px) { 
    html, body {
        min-width: 100%;
        min-height: 100%;
        font-family: "Source Sans Pro", sans-serif;
        background: #E0E0E0;
    }
    header img.displayed {
        width: 230px;
        height: auto;
        border-radius: 0% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;     
    }
    img {
        border-radius: 5%;
        width: 220px;
        height: 220px; 
    }
    nav a {
        padding-top: 5px !important;
        padding-bottom: 1px !important;
        font-size: 1.5em;
    }
    .site-header {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .site-header .site-nav {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;

    }
    .site-header .site-nav a {
        font-size: 1.0rem;
        text-align: center;
    }
    .site-nav {
        text-align: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    .site-nav > ul {
        color: #FDBB30;
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .site-nav .active a {
        color: #FDBB30;
    }
    .site-nav a {
        color: #FDBB30;
        text-decoration: overline ;
        text-decoration-color: #FDBB30;
        text-transform: uppercase;
        padding-left: 10px;
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
    }
    .navbar-form{
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
        width: 220px;
    }
    .grid {
        margin-top: 185px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .pull-right {
        float: right;
    }
    .title {
        color: #333;
        text-align: center;
    }
    .content .content-overlay {
        border-radius: 5%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        border: 1px solid black;
    }
    .content:hover .content-overlay {
        opacity: .8;
        border-radius: 5%;
    }
    .content-image {
        width: 220px;
        height: 220px;
        border-radius: 5%;
    }
    .opacity {
      opacity: .8;
    }
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 0em;
        padding-right: 0em;
        width: 220px;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details h3 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.20em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-size: 1.25em;
    }
    .content {
        border-radius: 5%;
        height: auto;
        width: 220px;
        position: relative;
        margin: 10px auto;
        overflow: hidden;
        float: left;
    }
    .overlay {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 34px 'ChunkFiveRegular';
        position: absolute;
        top: 32%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
    }
    .overlay1 {
        color: #fff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 34px 'ChunkFiveRegular';
        position: absolute;
        top: 39%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1.0;
        text-align: center;
    }
    .fadeIn-bottom {
        top: 80%;
    }    
    .footer-distributed {
        background-color: #FDBB30;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        font: bold 14px sans-serif;
        font-family: "arial", sans-serif !important;
        text-align: left;
        padding: 10px 10px 10px;
        margin-top: 0px;
        overflow: hidden;
    }
    .footer-distributed .footer-left {
        float: left;
    }
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 24px 'Cookie', cursive;
        margin: 0;
    }
    .footer-distributed h3 span {
        color: #00543C;
    }
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 0 0 5px;
        padding: 0;
    }
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 12px;
        font-weight: normal;
        margin: 0;
    }
    .footer-distributed .footer-icons {
        margin-top: 10px;
        border-radius: 5%;
    }
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    } 
    .footer-distributed .footer-right {
        float: left;
    }
    .footer-distributed .footer-right p {
        display: inline-block;
        vertical-align: top;
        margin: 5px 10px 0 0;
        color: #ffffff;
    }

    .footer-distributed form {
        display: inline-block;
    }
    .footer-distributed form input,
    .footer-distributed form textarea {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #1f2022;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        font: inherit;
        font-size: 14px;
        font-weight: normal;
        color: #d1d2d2;
        width: 250px;
        padding: 10px;
    }
    .footer-distributed::-webkit-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed::-moz-placeholder {
        color: #5c666b;
        opacity: 1
    }
    .footer-distributed:-ms-input-placeholder {
        color: #5c666b;
    }
    .footer-distributed form input {
        height: 20px;
        margin-bottom: 10px;
    }
    .footer-distributed form textarea {
        height: 50px;
        margin-bottom: 10px;
    }
    .footer-distributed form button {
        border-radius: 3px;
        background-color: #33383b;
        color: #ffffff;
        border: 0;
        padding: 4px 5px;
        font-weight: bold;
        float: left;
    }
    .footer-distributed {
        padding: 20px;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }
    .footer-distributed .footer-left {
        margin-bottom: 10px;
    }
    .footer-distributed form {
        margin-top: 10px;
    }
    .footer-distributed form {
        display: block;
    }
    .footer-distributed form button {
        float: none;
    }
}
